@use "../base/variables" as *;

.search-form {
  position: relative;

  &__input {
    background-color: transparent;
    border: 1px solid $gray--700;
    border-radius: 25px;
    height: 50px;
    padding-left: 43px;
    padding-right: 15px;
    outline: none;

    &::placeholder {
      color: #8a8a8a;
      line-height: 1.5;
    }

    &:focus {
      border-color: $accent;
      outline: none;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 19px;
    translate: 0 -50%;
    background-color: transparent;
    padding: 0;
    border: none;
    color: $gray--600;

    @media (hover: hover) {
      cursor: pointer;
    }
  }
}
