$gray--900: #676767;
$gray--800: #7e7e7e;
$gray--600: #8a8a8a;
$gray--700: #b8b8b8;
$gray--500: #f8f8f8;
$gray--400: #f6f6f6;
$gray--300: #e8e8e8;

$light: #fff;
$dark: #000;
$accent: #f4c22f;
$green: #63b569;

$animation-duration: 250ms;
