<header class="header">
  <div class="header__content">
    <div class="header__logo">
      <a href="/" class="header__logo-link">
        <img src="./src/img/artwork.svg" alt="logo" />
      </a>
    </div>
    <div class="header__top">
      <nav class="header__page-nav">
        <a href="#!" class="header__page-link header__page-link--active"
          >Wholesale</a
        >
        <a href="#!" class="header__page-link">Recipes</a>
        <a href="#!" class="header__page-link">Blog</a>
        <a href="#!" class="header__page-link">FAQ</a>
      </nav>
    </div>
    <div class="header__bottom">
      <nav class="header__nav-product">
        <a href="#!" class="header__nav-product-link">belgian pearl sugar</a>
        <a href="#!" class="header__nav-product-link">liege waffle mix</a>
        <a href="#!" class="header__nav-product-link">liege waffle maker</a>
        <a href="#!" class="header__nav-product-link">speciality ingredients</a>
      </nav>
      <div class="header__actions">
        <form class="search-form">
          <input type="text" placeholder="Search" class="search-form__input" />
          <button type="submit" class="search-form__btn">
            <svg class="icon icon--14">
              <use href="#search"></use>
            </svg>
          </button>
        </form>
        <button type="button" class="header__btn">
          <svg class="icon icon--24">
            <use href="#cart"></use>
          </svg>
        </button>
        <button type="button" class="header__btn">
          <svg class="icon icon--21">
            <use href="#user"></use>
          </svg>
          Sign In
        </button>
      </div>
    </div>
  </div>
</header>
