<section class="hero">
  <div class="hero__left">
    <div class="hero__picture">
      <img src="./src/img/waffles.jpg" alt="" />
    </div>
  </div>
  <div class="hero__right"></div>
  <div class="hero__content">
    <h1 class="hero__title">PEARL SUGAR</h1>
    <p class="hero__text">
      But I must explain to you how all this mistaken idea of denouncing
      pleasure and praising pain was born and I will give you a complete account
      of the system, and expound.
    </p>
    <button type="button" class="hero__btn">
      Shop now
      <svg class="icon icon--10">
        <use href="#arrow-right"></use>
      </svg>
    </button>
    <button type="button" class="hero__btn-questions">
      Have Questions
      <svg class="icon icon--10">
        <use href="#question-mark"></use>
      </svg>
    </button>
  </div>
  <nav class="hero__pagination">
    <button
      type="button"
      class="hero__pagination-btn hero__pagination-btn--active"
    ></button>
    <button type="button" class="hero__pagination-btn"></button>
    <button type="button" class="hero__pagination-btn"></button>
    <button type="button" class="hero__pagination-btn"></button>
  </nav>
</section>
