<div class="main-section">
  <div class="main-section__content">
    <h2 class="main-section__title">Authentic <span>recipes</span></h2>
    <p class="main-section__text">
      Try one of our pearl sugar recipe at the comfort of your home. In the
      kitchen with waffle pantry.
    </p>
  </div>
  <div class="container main-section__container">
    <article class="recipes-card">
      <img
        src="./src/img/recipes1.png"
        alt="image"
        class="recipes-card__image"
      />
      <div class="recipes-card__content">
        <div class="rating">
          <button type="button" class="rating__btn">
            <svg class="icon icon--16">
              <use href="#star"></use>
            </svg>
          </button>
          <button type="button" class="rating__btn">
            <svg class="icon icon--16">
              <use href="#star"></use>
            </svg>
          </button>
          <button type="button" class="rating__btn">
            <svg class="icon icon--16">
              <use href="#star"></use>
            </svg>
          </button>
          <button type="button" class="rating__btn">
            <svg class="icon icon--16">
              <use href="#star"></use>
            </svg>
          </button>
          <button type="button" class="rating__btn">
            <svg class="icon icon--16">
              <use href="#star"></use>
            </svg>
          </button>
        </div>
        <h4 class="recipes-card__title">traditional liege waffle</h4>
        <h6 class="recipes-card__subtitle">
          <svg class="icon icon--20">
            <use href="#timer"></use>
          </svg>
          45 min
        </h6>
        <p class="recipes-card__text">
          Try one of our pearl sugar recipe at the comfort of your home. In the
          kitchen with waffle pantry.
        </p>
        <button type="button" class="recipes-card__btn">
          <svg class="icon icon--20">
            <use href="#share"></use>
          </svg>
        </button>
      </div>
    </article>
    <article class="recipes-card">
      <img
        src="./src/img/recipes2.png"
        alt="image"
        class="recipes-card__image"
      />
      <div class="recipes-card__content">
        <div class="rating">
          <button type="button" class="rating__btn">
            <svg class="icon icon--16">
              <use href="#star"></use>
            </svg>
          </button>
          <button type="button" class="rating__btn">
            <svg class="icon icon--16">
              <use href="#star"></use>
            </svg>
          </button>
          <button type="button" class="rating__btn">
            <svg class="icon icon--16">
              <use href="#star"></use>
            </svg>
          </button>
          <button type="button" class="rating__btn">
            <svg class="icon icon--16">
              <use href="#star"></use>
            </svg>
          </button>
          <button type="button" class="rating__btn">
            <svg class="icon icon--16">
              <use href="#star"></use>
            </svg>
          </button>
        </div>
        <h4 class="recipes-card__title">traditional liege waffle</h4>
        <h6 class="recipes-card__subtitle">
          <svg class="icon icon--20">
            <use href="#timer"></use>
          </svg>
          45 min
        </h6>
        <p class="recipes-card__text">
          Try one of our pearl sugar recipe at the comfort of your home. In the
          kitchen with waffle pantry.
        </p>
        <button type="button" class="recipes-card__btn">
          <svg class="icon icon--20">
            <use href="#share"></use>
          </svg>
        </button>
      </div>
    </article>
    <article class="recipes-card">
      <img
        src="./src/img/recipes3.png"
        alt="image"
        class="recipes-card__image"
      />
      <div class="recipes-card__content">
        <div class="rating">
          <button type="button" class="rating__btn">
            <svg class="icon icon--16">
              <use href="#star"></use>
            </svg>
          </button>
          <button type="button" class="rating__btn">
            <svg class="icon icon--16">
              <use href="#star"></use>
            </svg>
          </button>
          <button type="button" class="rating__btn">
            <svg class="icon icon--16">
              <use href="#star"></use>
            </svg>
          </button>
          <button type="button" class="rating__btn">
            <svg class="icon icon--16">
              <use href="#star"></use>
            </svg>
          </button>
          <button type="button" class="rating__btn">
            <svg class="icon icon--16">
              <use href="#star"></use>
            </svg>
          </button>
        </div>
        <h4 class="recipes-card__title">traditional liege waffle</h4>
        <h6 class="recipes-card__subtitle">
          <svg class="icon icon--20">
            <use href="#timer"></use>
          </svg>
          45 min
        </h6>
        <p class="recipes-card__text">
          Try one of our pearl sugar recipe at the comfort of your home. In the
          kitchen with waffle pantry.
        </p>
        <button type="button" class="recipes-card__btn">
          <svg class="icon icon--20">
            <use href="#share"></use>
          </svg>
        </button>
      </div>
    </article>
  </div>
</div>
