<section class="tabs-section">
  <div class="tabs-section__header">
    <button type="button" class="tabs-section__btn tabs-section__btn--active">
      Home baker
    </button>
    <button type="button" class="tabs-section__btn">
      <img src="./src/img/cook.png" alt="" />
      professional
    </button>
  </div>
  <div class="container tabs-section__container">
    <button
      type="button"
      class="tabs-section__slide-btn tabs-section__slide-btn--left"
    >
      <svg class="icon icon--35">
        <use href="#right"></use>
      </svg>
    </button>
    <div class="product-card">
      <div class="product-card__image">
        <a href="#!" class="product-card__link-wrapper">
          <img src="./src/img/product1.png" alt="product" />
        </a>
        <button class="product-card__like-btn">
          <svg class="icon icon--30">
            <use href="#like"></use>
          </svg>
        </button>
      </div>
      <a href="#!" class="product-card__content">
        <h3 class="product-card__title">HVD-A57-Liege-Waffle-Iron</h3>
        <p class="product-card__text">model wedceat <span>$1,800,00</span></p>
        <div class="product-card__row">
          <div class="rating">
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <span>(34)</span>
          </div>
          <h4 class="product-card__price">$1,401,60</h4>
        </div>
        <div class="product-card__info">
          <div class="product-card__info-text">
            <h5 class="product-card__info-title">Buy 4 or more $1,200,00</h5>
            <h6 class="product-card__info-subtitle">Limit 10 per order</h6>
          </div>
          <button type="button" class="product-card__buy-btn">
            <svg class="icon icon--26">
              <use href="#cart"></use>
            </svg>
          </button>
        </div>
      </a>
    </div>
    <div class="product-card product-card--sale-25">
      <div class="product-card__image">
        <a href="#!" class="product-card__link-wrapper">
          <img src="./src/img/product2.png" alt="product" />
        </a>
        <button class="product-card__like-btn">
          <svg class="icon icon--30">
            <use href="#like"></use>
          </svg>
        </button>
      </div>
      <a href="#!" class="product-card__content">
        <h3 class="product-card__title">HVD-A57-Liege-Waffle-Iron</h3>
        <p class="product-card__text">model wedceat <span>$1,800,00</span></p>
        <div class="product-card__row">
          <div class="rating">
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <span>(34)</span>
          </div>
          <h4 class="product-card__price">$1,401,60</h4>
        </div>
        <div class="product-card__info">
          <div class="product-card__info-text">
            <h5 class="product-card__info-title">Buy 4 or more $1,200,00</h5>
            <h6 class="product-card__info-subtitle">Limit 10 per order</h6>
          </div>
          <button type="button" class="product-card__buy-btn">
            <svg class="icon icon--26">
              <use href="#cart"></use>
            </svg>
          </button>
        </div>
      </a>
    </div>
    <div class="product-card">
      <div class="product-card__image">
        <a href="#!" class="product-card__link-wrapper">
          <img src="./src/img/product3.png" alt="product" />
        </a>
        <button class="product-card__like-btn">
          <svg class="icon icon--30">
            <use href="#like"></use>
          </svg>
        </button>
      </div>
      <a href="#!" class="product-card__content">
        <h3 class="product-card__title">HVD-A57-Liege-Waffle-Iron</h3>
        <p class="product-card__text">model wedceat <span>$1,800,00</span></p>
        <div class="product-card__row">
          <div class="rating">
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <span>(34)</span>
          </div>
          <h4 class="product-card__price">$1,401,60</h4>
        </div>
        <div class="product-card__info">
          <div class="product-card__info-text">
            <h5 class="product-card__info-title">Buy 4 or more $1,200,00</h5>
            <h6 class="product-card__info-subtitle">Limit 10 per order</h6>
          </div>
          <button type="button" class="product-card__buy-btn">
            <svg class="icon icon--26">
              <use href="#cart"></use>
            </svg>
          </button>
        </div>
      </a>
    </div>
    <div class="product-card product-card--sale-35">
      <div class="product-card__image">
        <a href="#!" class="product-card__link-wrapper">
          <img src="./src/img/product4.png" alt="product" />
        </a>
        <button class="product-card__like-btn">
          <svg class="icon icon--30">
            <use href="#like"></use>
          </svg>
        </button>
      </div>
      <a href="#!" class="product-card__content">
        <h3 class="product-card__title">HVD-A57-Liege-Waffle-Iron</h3>
        <p class="product-card__text">model wedceat <span>$1,800,00</span></p>
        <div class="product-card__row">
          <div class="rating">
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <button type="button" class="rating__btn">
              <svg class="icon icon--16">
                <use href="#star"></use>
              </svg>
            </button>
            <span>(34)</span>
          </div>
          <h4 class="product-card__price">$1,401,60</h4>
        </div>
        <div class="product-card__info">
          <div class="product-card__info-text">
            <h5 class="product-card__info-title">Buy 4 or more $1,200,00</h5>
            <h6 class="product-card__info-subtitle">Limit 10 per order</h6>
          </div>
          <button type="button" class="product-card__buy-btn">
            <svg class="icon icon--26">
              <use href="#cart"></use>
            </svg>
          </button>
        </div>
      </a>
    </div>
    <button
      type="button"
      class="tabs-section__slide-btn tabs-section__slide-btn--right"
    >
      <svg class="icon icon--35">
        <use href="#right"></use>
      </svg>
    </button>
  </div>
</section>
